* { margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; }

.tabMenu {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
}